<footer class="py-3 bg-dark">
    <div class="container">
        <div class="m-0 text-center text-white">
            <ul class="nav justify-content-center">
                <li>
                    <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-light">Home</a>
                </li>
                <li>
                    <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-light">Portfolio</a>
                </li>
                <li>
                    <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-light">Resume</a>
                </li>
                <li>
                    <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-light">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>